 <div id="collapseOne" class="accordion-body collapse in">
	<div class="accordion-inner">
		<p>
			当前IP：$result.host
		 </p>
		 <p>
			发行版本：$result.release
		</p>
		<p>
			运行时间：$result.uptime
		 </p>
		 <p>
			内核版本：$result.kernel
		</p>					
	</div>
</div>