<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/jdbc.properties</value>
				<value>classpath:/email.properties</value>
				<value>classpath:/notify.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- jdbc configration -->
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
       <!-- 获取连接时检测是否失效  -->
       <property name="testOnBorrow" value="true"/>
       <!-- 获取连接时检测是否失效SQL  -->
       <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
       <property name="driverClassName" value="${db.source.driver}"/>
       <property name="url" value="${db.source.url}"/>
       <property name="username" value="${db.source.username}"/>
       <property name="password" value="${db.source.password}"/>
       <property name="minIdle" value="${db.source.min.idle}"/>
       <property name="maxActive" value="${db.source.max.active}"/>
       <property name="maxIdle" value="${db.source.max.idle}"/>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate" >
	   <property name="transactionManager" ref="transactionManager"/>
	</bean>
	
	<bean id="sqlMapTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<bean class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
				<property name="dataSource">
					<ref bean="dataSource" />
				</property>
				<property name="configLocation" value="classpath:/lihelper-ibatis-config.xml" />
			</bean>
		</property>
	</bean>
	<!-- jdbc end -->
	
	<bean id="clientAwareInterceptor" class="com.lihelper.api.interceptor.ClientAwareInterceptor" >
		<property name="clientService" ref="clientService"/>
	</bean>

	<bean id="userInterceptor" class="com.lihelper.api.interceptor.UserInterceptor" >
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="authorizationInterceptor" class="com.lihelper.web.interceptor.AuthorizationInterceptor " />
		
    
    <!-- callback proxy actdion -->
    <bean id="callbackAction" class="com.lihelper.api.action.CallbackAction">
         <property name="notifyAlarmDistributeService" ref="notifyAlarmDistributeService"/>
    </bean> 
    <!-- callback end -->
    
    <!-- web action -->
    <bean id="jsonResult" class="com.lihelper.result.JsonResult"/>
    
    <bean id="getvminfo" class="com.lihelper.web.action.GetVmInfoAction">
         <property name="clientService" ref="clientService"/>
    </bean> 
 
    <bean id="restart" class="com.lihelper.web.action.RestartAction">
         <property name="clientService" ref="clientService"/>
    </bean> 

    <bean id="monitorAlarm" class="com.lihelper.web.action.MonitorAlarmAction">
         <property name="clientService" ref="clientService"/>
    </bean> 
       
    <bean id="login" class="com.lihelper.web.action.LoginAction">
         <property name="userService" ref="userService"/>
    </bean> 

    <bean id="register" class="com.lihelper.web.action.RegisterAction">
         <property name="userService" ref="userService"/>
    </bean> 

    <bean id="getMonitorInfo" class="com.lihelper.web.action.GetMonitorInfoAction">
         <property name="clientService" ref="clientService"/>
    </bean> 

    <bean id="getMonitorInfos" class="com.lihelper.web.action.GetMonitorInfosAction">
         <property name="clientService" ref="clientService"/>
    </bean> 
               
    <!-- web action end -->


	<!-- service start -->
	<bean id="emailSender" class="com.lihelper.mail.MailSender">
	   <property name="fromAddress" value="${email.fromAddress}"/>
	   <property name="fromName" value="${email.fromName}"/>
	   <property name="host" value="${email.host}"/>
	   <property name="username" value="${email.username}"/>
	   <property name="password" value="${email.password}"/>
	</bean>

	<bean id="emailService" class="com.lihelper.service.impl.EmailServiceImpl">
	   <property name="emailSender" ref="emailSender"/>
	</bean>
	
	<bean id="notifyAlarmDistributeService" class="com.lihelper.service.impl.NotifyAlarmDistributeServiceImpl">
		<property name="alarmDao" ref="alarmDao"/>
		<property name="alarmModeDao" ref="alarmModeDao"/>
		<property name="notifyAlarmServiceMap">
			<map>
				<entry key="email" value-ref="emailNotifyAlarmService"/>
				<entry key="default" value-ref="emailNotifyAlarmService"/>
			</map>
		</property>
	</bean>
	
	<bean id="emailNotifyAlarmService" class="com.lihelper.service.impl.EmailNotifyAlarmServiceImpl">
	   <property name="emailService" ref="emailService"/>
	   <property name="subject" value="${notify.email.subject}"/>
	   <property name="content" value="${notify.email.content}"/>
	</bean>

	<bean id="clientService" class="com.lihelper.service.impl.ClientServiceImpl">
	   <property name="clientDao" ref="clientDao"/>
	   <property name="alarmDao" ref="alarmDao"/>
	   <property name="alarmModeDao" ref="alarmModeDao"/>
	   <property name="transactionManager" ref="transactionManager"/>
	</bean>

	<bean id="userService" class="com.lihelper.service.impl.UserServiceImpl">
	   <property name="userDao" ref="userDao"/>
	</bean>			
	<!-- service end -->
	
	<!-- dao start -->
	
	<bean id="userDao" class="com.lihelper.dao.impl.UserDaoImpl">
	   <property name="sqlMapTemplate" ref="sqlMapTemplate"/>
	</bean>
	<bean id="clientDao" class="com.lihelper.dao.impl.ClientDaoImpl">
	   <property name="sqlMapTemplate" ref="sqlMapTemplate"/>
	</bean>	
	<bean id="alarmDao" class="com.lihelper.dao.impl.AlarmDaoImpl">
	   <property name="sqlMapTemplate" ref="sqlMapTemplate"/>
	</bean>	
	<bean id="alarmModeDao" class="com.lihelper.dao.impl.AlarmModeDaoImpl">
	   <property name="sqlMapTemplate" ref="sqlMapTemplate"/>
	</bean>	
	<!-- dao end -->
</beans>