html body table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #333333;
  background: url('../images/base-noise.jpeg?141b58b60994') #f5f5f5;
  -webkit-font-smoothing: antialiased; 
  }
  
 .topbar {
  background: url('../images//header-bg.png?141b58b60994') repeat-x white;
  color: #343434;
  height: 53px;
  position: relative;
  z-index: 1;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0px #eee inset; 
  }
 
 .topbar .container {
   position: relative;
  }
  
  .container {
	margin-left: auto;
	margin-right: auto;
}
  .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1040px;
}
ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
  .topbar .logo {
	float: left;
	width: 80px;
	height: 40px;
	background: url('../images/kippt-150.png?c569c91fe720') 0 10px no-repeat;
	text-indent: -9999cm;
	margin-top: 3px;
	background-size: 60px;
 }
.nav-user {
    float: right;
}
.topbar .nav .dropdown li a {
color: #111;
}
.topbar .nav .dropdown-menu a {
display: block;
padding: 8px 20px;
}
.topbar .nav li a {
font-weight: normal;
background-color: none;
}
.topbar ul li a {
background-color: none;
}
.dropdown-menu a {
-webkit-transition: none;
-moz-transition: none;
}

.topbar a {
color: #777;
text-shadow: 0 1px 0 white;
font-weight: bold;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

body.app #app {
	display: block;
}
.row {
margin-left: -20px;
}

#sidebar {
padding-top: 15px;
margin-right: -20px;
margin-left: -20px;
width: 240px;
}
#app, .app-bg {
background: url('../images/bg-column.png?141b58b60994') repeat-y;
}
.well-lihelper {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: white;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.span3-lihelper {
width: 200px;
}
.main {
border: 1px solid #E3E3E3;
background: white;
float: left;
min-height: 375px;
margin-left:10px;
width: 825px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.span9-lihelper {
   height:auto;
}
.footer {
margin-bottom: 3%;
text-align: center;
color: #777;
}